In [1]:
import pandas as pd 
import os 
import sys 
import pickle
from pycaret.classification import *

sys.path.append('../src')
from utils import getExperimentConfig, getPicklesFromDir, run_pycaret_setup

In [2]:
# Get global variables for the experiment
config = getExperimentConfig()
# Get folders
folders = config['folders']
# Load dataset specific settings (from the real-data)
dataset_settings = getPicklesFromDir(folders['settings_dir'])

In [3]:
dataset_settings[0]

{'meta': {'name': 'Diabetes',
  'id': 'D0',
  'filename': 'diabetes.csv',
  'target': 'Outcome',
  'ordinal_features': None,
  'numeric_features': ['DiabetesPedigreeFunction',
   'BMI',
   'Insulin',
   'Glucose',
   'Age',
   'SkinThickness',
   'BloodPressure',
   'Pregnancies'],
  'text_features': None,
  'categorical_features': None,
  'sd_meta_list': [{'id': 'SD0Q1_0',
    'path': '../data/synthetic/SD0Q1_0.csv',
    'sdg_params': {'epochs': 300, 'batch_size': 50}},
   {'id': 'SD0Q1_1',
    'path': '../data/synthetic/SD0Q1_1.csv',
    'sdg_params': {'epochs': 300, 'batch_size': 50}}]},
 'setup_param': {'target': 'Outcome',
  'train_size': 0.8,
  'fold_strategy': 'stratifiedkfold',
  'fold': 10,
  'ordinal_features': None,
  'numeric_features': ['DiabetesPedigreeFunction',
   'BMI',
   'Insulin',
   'Glucose',
   'Age',
   'SkinThickness',
   'BloodPressure',
   'Pregnancies'],
  'text_features': None,
  'categorical_features': None,
  'imputation_type': 'simple',
  'numeric_imputation': 'mean',
  'categorical_imputation': 'mode',
  'iterative_imputation_iters': 10,
  'numeric_iterative_imputer': 'lightgbm',
  'categorical_iterative_imputer': 'lightgbm',
  'text_features_method': 'tf-idf',
  'max_encoding_ohe': 25,
  'encoding_method': None,
  'low_variance_threshold': None,
  'remove_multicollinearity': False,
  'multicollinearity_threshold': 0.01,
  'bin_numeric_features': None,
  'remove_outliers': False,
  'outliers_method': 'iforest',
  'outliers_threshold': 0.05,
  'fix_imbalance': False,
  'fix_imbalance_method': 'SMOTE',
  'transformation': False,
  'transformation_method': 'yeo-johnson',
  'normalize': True,
  'normalize_method': 'zscore',
  'pca': False,
  'pca_method': 'linear',
  'pca_components': None,
  'feature_selection': False,
  'feature_selection_method': 'classic',
  'feature_selection_estimator': 'lightbm',
  'n_features_to_select': 0.2,
  'log_experiment': 'mlflow',
  'experiment_name': 'D0-Diabetes',
  'system_log': '../logs/D0',
  'experiment_custom_tags': {'Dataset Type': 'Original', 'Dataset ID': 'D0'},
  'log_plots': False,
  'log_data': True,
  'n_jobs': -1,
  'use_gpu': False,
  'html': True,
  'verbose': True,
  'profile': False,
  'preprocess': True},
 'sdg_param': {}}

Psuedo code for how to test the synthetic datasets,


```
for each real_dataset in sd_meta:
    Get real_dataset settings and parameters
    
    in setup_param, set 'log_data' = false, to disable saving the train test split, no need to save it
    in setup_param update 'system_log' to S + current-value
    in setup_param, set 'experiment_custom_tags' to 'Synthetic'
    
    for each sd_meta_info in sd_meta[real_dataset]:
    
        update 'experiment_name' in in setup_param to the current sd_id
        
        run setup()
        for each ml in ml_models:
        
            clf = run create_model(ml)
            run tune_model(clf, optimize='Accuracy', n_iter)
            
            test?
        
    
    
```

In [4]:
for settings in dataset_settings:
    # update system_log name
    settings['setup_param']['system_log'] = folders['log_dir']+"Step4_SD"
    # disable saving train-test split data (to save space)
    settings['setup_param']['log_data'] = False

    for sd_meta in settings['meta']['sd_meta_list']:
        # Add custom tags to the logg, defining dataset type, Id and SDG hyperparameters
        settings['setup_param']['experiment_custom_tags'] = {
            'Dataset Type': 'Synthetic',
            'Dataset ID': sd_meta['id'],
            'SDG param': sd_meta['sdg_params']
        }

        run_pycaret_setup(sd_meta['path'], settings['setup_param'])

        for ml_model in config['clf']['ml_models']:
            # create then tune the model
            model = create_model(ml_model)
            tuned_model = tune_model(model, **config['clf']['tuning_param'])

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [6]:
"""
#update setup_param log setings
dataset_settings[0]['setup_param']['experiment_name'] = "SD0Q1_0"
dataset_settings[0]['setup_param']['system_log'] = folders['log_dir']+"Step4_SD"
# Do not save train test datasplit, to save resources
dataset_settings[0]['setup_param']['log_data'] = False
dataset_settings[0]['setup_param']['experiment_custom_tags'] = {'Dataset Type': 'Synthetic'}


pycaret_setup = setup(data=pd.read_csv(folders['sd_dir']+"SD0q1_0.csv"), 
                      **dataset_settings[0]['setup_param'])
"""

In [7]:
# the dataset specific saved experiment
#config_filename = folders['setup_dir']+'D0.pkl'

# load the experiment but with the synthetic data, and test_data=original_data.csv
#load_experiment(config_filename, data=pd.read_csv(folders['sd_dir']+"SD0Q1_0.csv"))
# Update log experiment name
#set_config('exp_name_log', 'SD0Q1_0')

In [8]:
#log = get_logs(exp_name)
#log.columns

In [ ]:
"""
best = compare_models(include=config['ml_models'])

# Dataset of performance with
tune_model(best, optimize='Accuracy', choose_better=True, n_iter=200)


model = load_model(folders['models_dir']+'D0')
"""

Following cell is example code on how to extract information from the mlflow logs

In [25]:
"""
exp_name =dataset_settings[0]['meta']['id']
#Get logs
get_logs(exp_name)[[
    'tags.mlflow.runName',
    'metrics.Accuracy',
    'metrics.F1',
    'metrics.Prec',
    'metrics.Recall',
    'tags.Source',
    'run_id', 
]].sort_values('metrics.Accuracy', ascending=False)
"""

,tags.mlflow.runName,metrics.Accuracy,metrics.F1,metrics.Prec,metrics.Recall,tags.Source,run_id
7,Random Forest Classifier,0.7900,0.6711,0.7465,0.6167,compare_models,a5d9b18b84d04269b0d11d3df3dde699
6,Logistic Regression,0.7754,0.6428,0.7319,0.5840,compare_models,8790ff71a4374e30a6297cd62365584c
1,Random Forest Classifier,0.7671,0.6981,0.6416,0.7749,tune_model,79492964faa146c8aa95bb2bfd4a6e6c
5,SVM - Radial Kernel,0.7655,0.6296,0.7207,0.5742,compare_models,656021909f5f48de9dcba758c3065bb0
4,Naive Bayes,0.7639,0.6462,0.6890,0.6203,compare_models,a1671c530fe144cea6b708ae50acaac6
3,K Neighbors Classifier,0.7558,0.6142,0.6864,0.5701,compare_models,c407633800fd46229a4cf6118f1334c7
2,SVM - Linear Kernel,0.7279,0.5689,0.6376,0.5238,compare_models,9e9d07ca556b452eb05165f67e599b98
0,Session Initialized 0dfa,NaN,NaN,NaN,NaN,setup,0ddcd068a0a24037971bfa78547b4270
8,Session Initialized 09bf,NaN,NaN,NaN,NaN,setup,8865811c66f74657b50760513f858724